<article class="post">
    <header class="post__header">
        <h1 class="post__title title title--black">Lorem ipsum dolor sit amet consectetur adipisicing elit.</h1>
    </header>
    <section class="post__body">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Non iste accusantium, esse voluptatibus amet, a provident, voluptate error incidunt ipsam nesciunt excepturi. Facilis, provident libero. Sunt ipsam porro minus sed.
    </section>
    <footer class="post__footer">
        <button class="post__author-button button button--t-black">See all posts by author</button>
        <button class="post__delete-button button button--t-black button--b-red">Delete Post</button>
    </footer>   
</article>