@import '../../assets/variables';

.post-card {
    display: flex;
    flex-direction: column;
    padding: 20px 0px;
    border-bottom: 1px solid $gray-dark;
    cursor: pointer;
}

.post-card__body {
    margin-top: 5px;
}