@import url('https://fonts.googleapis.com/css2?family=Open+Sans+Condensed:ital,wght@0,300;0,700;1,300&display=swap');

@import './assets/styles/button';
@import './assets/styles/title';


* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 14px;
}

input, textarea {
    font-family: 'Open Sans Condensed', sans-serif;
}

.page {
    padding: 20px;
}

