@import '../variable';

.button {
    display: block;
    text-decoration: none;
    cursor: pointer;
    background: none;
    outline: none;
    border: 2px solid $green;
    padding: 10px;
    &:hover {
        .button__text {
            text-decoration: underline;
        }
    } 
}

.button__text {
    color: $white;
}