@import '../variables';

.button {
    display: block;
    text-decoration: none;
    cursor: pointer;
    background: none;
    outline: none;
    border: 2px solid $green;
    padding: 5px 10px;
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 1.1rem;
    color: $white;

    &:hover {
        .button__text {
            text-decoration: underline;
        }
    } 
}

.button--t-black {
    color: $black;
}

.button--b-red {
    border-color: $red;
}