<h2 class="title">Create new post</h2>
<form class="form">
    <label class="form__input-block">
        <span class="form__title">Title</span>
        <input class="form__input" type="text" placeholder="Some title...">
    </label>
    <label class="form__input-block">
        <span class="form__title">Text</span>
        <textarea class="form__input form__input--text" placeholder="Some text..."></textarea> 
        <span class="form__error">Required</span>
    </label>
    <label class="form__input-block">
        <span class="form__title">Author</span>
        <input class="form__input form__input--number" type="number" placeholder="101" min="0">  
    </label>
    <button class="form__button button button--t-black" type="submit">Send</button>
</form>