@import '../../assets/styles/variables';

.form {
    display: flex;
    flex-direction: column;
    max-width: 500px;
    padding: 20px 0px;
}

.form__title {
    font-size: 1.2rem;
    display: block;
}

.form__input {
    width: 100%;
    height: 25px;
    font-size: 1.2rem;
}

.form__input--number {
    width: 100px;
}

.form__input--text {
    height: 70px;
    resize: none;
}

.form__button {
    margin-top: 20px;
    width: 200px;
}

.form__error {
    color: $red;
    font-weight: bold;
}